[user]
	name = miyuush
	email = shiyuroad57@gmail.com
[core]
	editor = vim
	autoCRLF = false
	quotepath = false
	ignorecase = false
[credential]
	helper = store
[diff]
	compactionHeuristic = true
[grep]
	lineNumber = true
[commit]
	cleanup = strip
[init]
	defaultBranch = main
[color]
	ui = true
[push]
	default = current
[ghq]
	root = ~/go/src
