# All ignore
/*
/.**

# config
!/.config/
!/.config/**

# bash
!/.bashrc
!/.bash_profile
!/.bash_aliases

# zsh
!/.zshrc

# tmux
!/.tmux/
!/.tmux.conf

# ci
!/.github/
!/.github/**

# Not ignore
!/README.md
!/LICENSE
!/workflow/
!/setup.sh
!/.gitignore
!/.gitconfig
!/.gitkeep
