# All ignore
/*
/.**

# config
!/.config/
!/.config/**
/.config/fish/functions/*
!/.config/fish/functions/enter_ls.fish
!/.config/fish/functions/fish_user_key_bindings.fish
!/.config/fish/functions/fzf_key_bindings.fish
/.config/fish/completions/
/.config/fish/conf.d/
/.config/coc/

# bash
!/.bashrc
!/.profile
!/.bash_aliases

# zsh
!/.zshrc

# tmux
!/.tmux/
!/.tmux/**
!/.tmux.conf

# ci
!/.github/
!/.github/**

# devcontainer
!/.devcontainer/
!/.devcontainer/**

# Not ignore
!/README.md
!/LICENSE
!/install_scripts/
!/workflow/
!/setup.sh
!/.gitignore
!/.gitconfig
!/.gitkeep
!/Brewfile
!/Makefile

